# Compose
COMPOSE_PROJECT_NAME=secmess

# Matrix / Synapse
MATRIX_SERVER_NAME=secmess.cloudpub.ru
MATRIX_PUBLIC_BASEURL=https://secmess.cloudpub.ru
SYNAPSE_REGISTRATION_SHARED_SECRET=change_me_registration_shared_secret
SYNAPSE_MACAROON_SECRET_KEY=change_me_macaroon_secret_key
SYNAPSE_FORM_SECRET=change_me_form_secret

# PostgreSQL
POSTGRES_DB=synapse
POSTGRES_USER=synapse
POSTGRES_PASSWORD=change_me_postgres_password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Infra paths
VOLUMES_ROOT=./volumes
DOCKER_LOG_MAX_SIZE=10m
DOCKER_LOG_MAX_FILE=5

# Nginx
NGINX_HTTP_PORT=80
NGINX_HTTPS_PORT=443

# Keygen (reserved for next stage)
KEYGEN_MASTER_KEY=smk1.bootstrap01.change_me_master_key_change_me_master_key_123456
KEYGEN_TOKEN_HASH_SECRET=change_me_token_hash_secret_change_me_token_hash_secret
KEYGEN_MASTER_KEY_HEADER=X-Master-Key
KEYGEN_DEFAULT_TTL_SECONDS=900
KEYGEN_TOKEN_TTL_SECONDS=900
KEYGEN_CREATE_MIN_RESPONSE_SECONDS=3
KEYGEN_MAX_TTL_SECONDS=86400
KEYGEN_EXPOSE_DOCS=false
KEYGEN_USER_PREFIX=user
KEYGEN_QR_PAYLOAD_PREFIX=secmess://invite?token=
KEYGEN_MATRIX_SERVER_NAME=secmess.cloudpub.ru
KEYGEN_DEFAULT_ADMIN_USER_ID=@admin:secmess.cloudpub.ru
KEYGEN_ROLE_SUPER_ADMINS=
KEYGEN_ROLE_ADMINS=@admin:secmess.cloudpub.ru
KEYGEN_ROLE_DEVELOPERS=
